{% load static %}
<style>
    #logo_background {
  background-image: url({% static 'img/brand/atlas.png' %}), url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia1.tenor.com%2Fimages%2F364bd697fa65d2df500dbc9a4c858336%2Ftenor.gif%3Fitemid%3D8739080&f=1&nofb=1&ipt=6f263be3e4a4849f02b1f2be9c60405efaeee48944d5694737a2b4fcbfe242b7&ipo=images');
  background-size: cover, cover;
  background-repeat: no-repeat, repeat;
  opacity: 0.75;
  height: 15vh;
}
</style>

<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light " id="sidenav-main" style="background-image: url('https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2F1.bp.blogspot.com%2F_-mY2ck9YCeE%2FTSczlNDqK1I%2FAAAAAAAACyc%2FkjRLg8G9QmQ%2Fs1600%2Flightning-bolts-blue-animated.gif&f=1&nofb=1&ipt=35df6e5f9f5eebc8a9fdb1a272f5d494edd08f6c05e5e8803ee641235d514925&ipo=images'); background-size: cover">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header  align-items-center">
      <a class="navbar-brand" href="/" id="logo_background">
      </a>
    </div>

    <div class="navbar-inner">
  <br>
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link bg-gradient-white" href="https://pipinstallpython.pythonanywhere.com/catalogue/">
              <i class="ni ni-tv-2 text-primary"></i>
              <span class="nav-link-text">Market</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link bg-gradient-white" href="https://pipinstallpython.pythonanywhere.com/Ukraine/">
              <i class="ni ni-planet text-orange"></i>
              <span class="nav-link-text">Ukraine Map</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link bg-gradient-white" href="https://pipinstallpython.pythonanywhere.com/map/everything/">
              <i class="ni ni-pin-3 text-primary"></i>
              <span class="nav-link-text">Aransas Map</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link bg-gradient-white" href="https://pipinstallpython.pythonanywhere.com/academy/">
              <i class="ni ni-single-02 text-yellow"></i>
              <span class="nav-link-text">Course Unlocks</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link bg-gradient-white" href="https://github.com/Pip-Install-Pirate/PipDjango">
              <i class="ni ni-key-25 text-default"></i>
              <span class="nav-link-text">Project Github</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link bg-gradient-white" href="https://pipinstallpython.pythonanywhere.com/accounts/login/">
              <i class="ni ni-circle-08 text-info"></i>
              <span class="nav-link-text">Login</span>
            </a>
          </li>
        </ul>
        <!-- Divider -->
        <hr class="my-3">
        <!-- Heading -->
        <h6 class="navbar-heading p-0 text-muted">
          <span class="docs-normal">Resources</span>
        </h6>
        <!-- Navigation -->
        <ul class="navbar-nav mb-md-3">

          <li class="nav-item">
            <a class="nav-link bg-gradient-green"
               target="_blank" 
               href="https://appseed.us/admin-dashboards/django-dashboard-argon">
              <i class="ni ni-archive-2"></i>
              <span class="nav-link-text">Product Template</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link bg-gradient-gray"
               target="_blank" 
               href="https://appseed.us/admin-dashboards/django-dashboard-argon-pro">
              <i class="ni ni-spaceship text-red"></i>
              <span class="nav-link-text">PRO Template</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link active active-pro" 
               target="_blank" 
               href="https://www.youtube.com/channel/UC-pBvv8mzLpj0k-RIbc2Nog?sub_confirmation=1">
              <i class="ni ni-button-play text-red"></i>
              <span class="nav-link-text">Subscribe</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>